<p><strong>You are here: </strong>Admin/Home/About</p>

<ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home/Index</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="About">Home/About</a></li>
    <li><a asp-controller="Home" asp-action="Index">Admin/Home/Index</a></li>
    <li><a asp-controller="Home" asp-action="About">Admin/Home/About</a></li>
</ul>